.button-group {
    display: flexbox;
    justify-content: center;
    gap: 10px;
}
.button {
    background-color: antiquewhite;
    color: red;
    border: none;
    border-radius: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}